In [ ]:
pip install PyMySQL

In [ ]:
pip install pandas

In [21]:
import pymysql
import pandas.io.sql as psql
import pandas as pd

In [29]:
# con = pymysql.connect(host='localhost', user='root', password='****',
#                      db='webmarket', charset='utf8',
#                      autocommit=False,
#                      cursorclass=pymysql.cursors.DictCursor)
# cur = con.cursor()

In [47]:
# 원래 코드가 잘 안먹혀서 수정
with pymysql.connect(database='webmarket', 
                     host='localhost', 
                     port=3306, 
                     user='root', 
                     password='****') as conn:
  sql = 'SELECT * FROM mst_users'
  df_users = psql.read_sql(sql, conn)

df_users

/var/folders/l5/366nz8fs75gdr134874nc3nc0000gn/T/ipykernel_3575/1905482372.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_users = psql.read_sql(sql, conn)

  user_id register_date  register_device
0    U001    2016-08-26                1
1    U002    2016-08-26                2
2    U003    2016-08-27                3

In [48]:
# 리스트에 없는 값 혹은 모르는 값 제외
idx = df_users[(df_users['register_device'] != 1) &
              (df_users['register_device'] != 2) &
              (df_users['register_device'] != 3)].index
df_users.drop(idx, inplace=True)

In [46]:
# 첫번째 방법
df_users.loc[df_users['register_device'] == 1, 'register_device'] = '데스크톱'
df_users.loc[df_users['register_device'] == 2, 'register_device'] = '스마트폰'
df_users.loc[df_users['register_device'] == 3, 'register_device'] = '애플리케이션'

df_users

  user_id register_date register_device
0    U001    2016-08-26            데스크톱
1    U002    2016-08-26            스마트폰
2    U003    2016-08-27          애플리케이션

In [49]:
# 두번째 방법
device_dic = {1:'데스크톱', 2:'스마트폰', 3:'애플리케이션'}
df_users[['register_device']] = df_users[['register_device']].applymap(device_dic.get)
df_users

  user_id register_date register_device
0    U001    2016-08-26            데스크톱
1    U002    2016-08-26            스마트폰
2    U003    2016-08-27          애플리케이션