In [ ]:
#!pip install PyMySQL

In [1]:
import pymysql
import pandas.io.sql as psql
import pandas as pd

In [2]:
# psql 사용
with pymysql.connect(database='webmarket', 
                     host='localhost', 
                     port=3306, 
                     user='root', 
                     password='****') as conn:
  sql = """SELECT
        date '2022-07-27' AS dt,
        timestamp '2022-07-27 12:00:00' AS stamp
        """
  df_now = psql.read_sql(sql, conn)

df_now

/var/folders/l5/366nz8fs75gdr134874nc3nc0000gn/T/ipykernel_5446/50195525.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_now = psql.read_sql(sql, conn)

           dt               stamp
0  2022-07-27 2022-07-27 12:00:00

In [3]:
# 판다스 모듈 사용
df_datetime_pd = pd.DataFrame({
    'dt': ['2022-07-27'],
    'stamp': ['2022-07-27 12:00:00']
})
df_datetime_pd

           dt                stamp
0  2022-07-27  2022-07-27 12:00:00

In [4]:
df_datetime_pd['dt'] = pd.to_datetime(df_datetime_pd['dt'], 
                                      format='%Y-%m-%d')
df_datetime_pd['stamp'] = pd.to_datetime(df_datetime_pd['stamp'], 
                                         format='%Y-%m-%d %H:%M:%S')
df_datetime_pd

          dt               stamp
0 2022-07-27 2022-07-27 12:00:00