In [ ]:
#!pip install PyMySQL

In [2]:
import pymysql
import pandas.io.sql as psql
import pandas as pd

In [3]:
with pymysql.connect(database='webmarket', 
                     host='localhost', 
                     port=3306, 
                     user='root', 
                     password='****') as conn:
  sql = """SELECT
        CURRENT_DATE AS dt,
        CURRENT_TIMESTAMP AS stamp
        """
  df_now = psql.read_sql(sql, conn)

df_now

/var/folders/l5/366nz8fs75gdr134874nc3nc0000gn/T/ipykernel_5230/3012845895.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_now = psql.read_sql(sql, conn)

           dt               stamp
0  2023-06-18 2023-06-18 15:43:14

In [11]:
# 모듈명 변경되어서 수정함 (datetime -> Timestamp)
print (pd.Timestamp.now())
print (pd.Timestamp.now().date())
print (pd.Timestamp.now().year)
print (pd.Timestamp.now().month)
print (pd.Timestamp.now().day)
print (pd.Timestamp.now().hour)
print (pd.Timestamp.now().minute)
print (pd.Timestamp.now().second)
print (pd.Timestamp.now().microsecond)

2023-06-18 15:45:56.088486
2023-06-18
2023
6
18
15
45
56
88666

In [13]:
df_now_pd = pd.DataFrame({
    'dt': [str(pd.Timestamp.now().date())],
    'stamp': [str(pd.Timestamp.now())]
})
df_now_pd

           dt                       stamp
0  2023-06-18  2023-06-18 15:46:14.018256