In [ ]:
#!pip install PyMySQL

In [2]:
import pymysql
import pandas.io.sql as psql
import pandas as pd

In [4]:
with pymysql.connect(database='webmarket', 
                     host='localhost', 
                     port=3306, 
                     user='root', 
                     password='****') as conn:
  sql = "SELECT * FROM access_log"
  df_access_log = psql.read_sql(sql, conn)

df_access_log

/var/folders/l5/366nz8fs75gdr134874nc3nc0000gn/T/ipykernel_5082/2757554021.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_access_log = psql.read_sql(sql, conn)

,stamp,referrer,url
0,2016-08-26 12:02:00,http://www.other.com/path1/index.php?k1=v1&k2=...,http://www.example.com/video/detail?id=001
1,2016-08-26 12:02:01,http://www.other.net/path1/index.php?k1=v1&k2=...,http://www.example.com/video#ref
2,2016-08-26 12:02:01,https://www.other.com/,http://www.example.com/book/detail?id=002

In [5]:
from urllib.parse import urlparse

In [6]:
df_access_log['path'] = df_access_log['url'].apply(lambda url: urlparse(url).path)
df_access_log['id'] = df_access_log['url'].apply(lambda url: urlparse(url).query)\
                        .str.replace('id=', '')
df_access_log[['stamp', 'url', 'path', 'id']]

,stamp,url,path,id
0,2016-08-26 12:02:00,http://www.example.com/video/detail?id=001,/video/detail,001
1,2016-08-26 12:02:01,http://www.example.com/video#ref,/video,
2,2016-08-26 12:02:01,http://www.example.com/book/detail?id=002,/book/detail,002