In [ ]:
#!pip install PyMySQL

In [1]:
import pymysql
import pandas.io.sql as psql
import pandas as pd

In [2]:
with pymysql.connect(database='webmarket', 
                     host='localhost', 
                     port=3306, 
                     user='root', 
                     password='####') as conn:
  sql = """SELECT
            stamp,
            EXTRACT(YEAR FROM stamp) AS year,
            EXTRACT(MONTH FROM stamp) AS month,
            EXTRACT(DAY FROM stamp) AS day,
            EXTRACT(HOUR FROM stamp) AS hour
            FROM
                (SELECT timestamp '2022-07-27 12:00:00' AS stamp) AS t
            """
  df_now = psql.read_sql(sql, conn)

df_now

/var/folders/l5/366nz8fs75gdr134874nc3nc0000gn/T/ipykernel_5603/2490880495.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_now = psql.read_sql(sql, conn)

                stamp  year  month  day  hour
0 2022-07-27 12:00:00  2022      7   27    12

In [3]:
df = pd.DataFrame({'timestamp': ['2022-07-27 12:00:00']})
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M:%S')
df

            timestamp
0 2022-07-27 12:00:00

In [13]:
print (df['timestamp'].dt.date)
print (df['timestamp'].dt.year)
print (df['timestamp'].dt.month)
print (df['timestamp'].dt.month_name())
print (df['timestamp'].dt.day)
print (df['timestamp'].dt.time)
print (df['timestamp'].dt.hour)
print (df['timestamp'].dt.minute)
print (df['timestamp'].dt.second)
print (df['timestamp'].dt.microsecond)

0    2022-07-27
Name: timestamp, dtype: object
0    2022
Name: timestamp, dtype: int32
0    7
Name: timestamp, dtype: int32
0    July
Name: timestamp, dtype: object
0    27
Name: timestamp, dtype: int32
0    12:00:00
Name: timestamp, dtype: object
0    12
Name: timestamp, dtype: int32
0    0
Name: timestamp, dtype: int32
0    0
Name: timestamp, dtype: int32
0    0
Name: timestamp, dtype: int32