<a href="https://colab.research.google.com/github/bloblog/TIL/blob/main/%5BSSAFY%5D%20%EC%82%AC%EC%A0%84%ED%95%99%EC%8A%B5_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# divmod 함수

print(divmod(50, 8))
print(type(divmod(50, 8)))

(6, 2)
<class 'tuple'>

In [ ]:
num = int(input())
print(num**2)

3
9

In [ ]:
num = int(input())
i = 0
while i < num:
  print('', num)
  i += 1

5
 5
 5
 5
 5
 5

In [ ]:
num = int(input())
i = 0
while i < num:
  i += 1
  print(i, i**2)

3
1 1
2 4
3 9

In [ ]:
h = 100
i = 1

while i <= 10:
  h *= 0.6
  print(i, round(h, 4))
  i += 1

1 60.0
2 36.0
3 21.6
4 12.96
5 7.776
6 4.6656
7 2.7994
8 1.6796
9 1.0078
10 0.6047

In [ ]:
number = 358

rem = rev = 0
while number >= 1:
    rem = number % 10
    rev = rev * 10 + rem
    number = number // 10

print(rev)

853

In [ ]:
max = 10

while True: # False 나오지 않으면 계속 반복하라.
    num = int(input())
    if num > max:
        print(num, 'is too big!')
        break

9
12
12 is too big!

In [ ]:
# 2.2.1 연습 문제: 숫자 읽기(1~3)

while True:
  num = int(input())
  if num == 1:
    print('일')
    break
  elif num == 2:
    print('이')
    break
  elif num == 3:
    print('삼')
    break
  else:
    print('1 이상 3 이하의 정수 중 하나를 입력해주세요.')

4
1 이상 3 이하의 정수 중 하나를 입력해주세요.
1
일

In [ ]:
# generations1

year = int(input('What year were you born? '))

if year <= 1924:
  print("You're the Greatest Generation.")
elif 1925 <= year <= 1945: # if-elif-else 는 순서대로 진행되기 때문에 ~ 이상은 없어도 됨.
  print("You're the Silent Generation.")
elif 1946 <= year <= 1964:
  print("You're a baby boomer.")
elif 1965 <= year <= 1980:
  print("You're a Gen X.")
elif 1981 <= year <= 1996:
  print("You're a millennial.")
else:
  print("You're a Gen Z.")

# print 반복보다는 변수 만들어서 f string 이용하는 게 깔끔!
# e.g. print(f"You're {gen}.")

What year were you born? 1999
You're a Gen Z.

In [ ]:
# affix

num = int(input())
result = str(num)

if num >= 1000000000:
  result = str(num // 1000000000) + 'G'
elif num >= 1000000:
  result = str(num // 1000000) + 'M'
elif num >= 1000:
  result = str(num // 1000) + 'k'
elif num >= 0:
  pass

print(result)

1000000000
1G

In [ ]:
# sum_positive

num = 0
result = 0

while num >= 0:
  result += num
  num = int(input())

print(result)

50
60
70
-100
180

In [ ]:
# leap_year

year = int(input())
result = "평년"

if year % 400 == 0:
  result = "윤년"
elif year % 100 == 0:
  result = "평년"
elif year % 4 == 0:
  result = "윤년"

print(f'{year}년은 {result}입니다.')

2077
2077년은 평년입니다.

In [ ]:
# generations2

year = int(input('What year were you born? '))
kor = input('Are you Korean?(y/n) ')
kor = kor[0].lower()

if year <= 1924:
  print("You're the Greatest Generation.")
elif year <= 1945:
  print("You're the Silent Generation.")

elif year <= 1964:
  if kor == 'y' and year <= 1954:
    print("You're the Silent Generation.")
  elif kor == 'y' and year == 1964:
    print("You're a Gen X.")
  else:
    print("You're a baby boomer.")

elif year <= 1980:
  print("You're a Gen X.")
elif year <= 1996:
  print("You're a millennial.")
else:
  print("You're a Gen Z.")

What year were you born? 1954
Are you Korean?(y/n) yes
You're the Silent Generation.

In [ ]:
# repeat_for

num = int(input())

for i in range(1, num+1):
  print(i, i**2)

5
1 1
2 4
3 9
4 16
5 25

In [ ]:
# chemical_lab

min, max = input().split(' ')

# map 함수 사용하기!
# min, max = map(int, input().split())

tem = [int(i) for i in input().split(' ')]

for i in tem:
  if i == -999:
    break
  elif i < int(min) or i > int(max):
    print('Alert!')
    break
  else:
    print('Nothing to report')

0 100
15 50 75 -999
Nothing to report
Nothing to report
Nothing to report

In [ ]:
countdown = 5
while countdown > 0:
	print(countdown)
	countdown -= 1
	if input() == '중단':
		break
else:
	print('발사!')

5

4

3

2

1

발사!

In [ ]:
def compare(x, y):
  if x > y:
    print(f'{x} > {y}')
  elif x < y:
    print(f'{x} < {y}')
  else:
    print(f'{x} == {y}')

compare(1, 2)

1 < 2

In [ ]:
256**4

4294967296

In [ ]:
len(str(_)) # _ : 방금 리턴된 값

10

In [ ]:
# numdigits

def numOfDigits(n):
  if n <= 0:
    print('양의 정수를 입력해주세요.')
  else:
    print(len(str(n)))

numOfDigits(1234567890)

10

In [ ]:
def gugudan():
  n = 2
  while n < 10:
    for i in range(1, 10):
      print(f'{n} * {i} = {n*i}')
    n += 1

gugudan()

In [ ]:
def triangle(bottom, height):
  return bottom * height * 0.5

print(triangle(3, 5))

7.5

In [ ]:
def korean_number(n):
  kor = ['일','이','삼','사','오','육','칠','팔','구','십']
  num = range(1, 11)
  if n in num:
    return kor[n-1]
  else:
    return '1 이상 10 이하의 정수를 입력하세요.'

korean_number(11)

'1 이상 10 이하의 정수를 입력하세요.'

In [ ]:
# 연습문제 : 함수 정의하기
def triple(x):
  return x * 3

triple('x')

'xxx'

In [ ]:
from datetime import datetime

def korean_age(year):
  today = datetime.today()
  std = today.year
  return std - year + 1

korean_age(1999)

25

In [ ]:
# 연습문제 : 이자(단리) 계산

def simple_interest(p, r, t):
  return p*r*t

simple_interest(1100000, 0.05, 5/12)

22916.666666666668

In [ ]:
def simple_interest_amount(p, r, t):
  return p * (1 + r*t)

simple_interest_amount(1100000, 0.05, 5/12)

1122916.6666666665

In [ ]:
# 연습문제 : 이자(복리) 계산

def compound_interest_amount(p, r, t, n):
  return p * (1+r/n) ** (n*t)

print('t=6 n=4')
print(compound_interest_amount(1500000, 0.043, 6, 4))
print('-----')
print('t=6 n=1/2')
print(compound_interest_amount(1500000, 0.043, 6, 1/2))

t=6 n=4
1938836.8221341055
-----
t=6 n=1/2
1921236.0840000005

In [ ]:
from functools import reduce
reduce(lambda x, y: x + y, [0, 1, 2, 3, 4])

10

In [ ]:
from functools import reduce
reduce(lambda x, y: print(y, x), 'abcde')

# 첫 번째 결과가 다음 순서에서 x로 들어간다!
# -------
# b a
# c ba
# d cba
# e dcba
# -------
# 결과 : edcba

b a
c None
d None
e None

In [20]:
def read(text):
    ridename = text.split(':')[0]
    cm_text = text.split(':')[1]

    cm = list(map(lambda x: x.strip(), cm_text.split('cm')))
    if cm_text.strip() == '-':
      cmmin = None
      cmmax = None
    elif cm[1][0] == '~':
      cmmin = cm[0]
      cmmax = cm[1][1:]
    elif cm[1] == '이상' or cm[1] == '이하':
      if cm[1] == '이상':
        cmmin = cm[0]
        cmmax = None
      else:
        cmmin = None
        cmmax = cm[0]

    return ridename, cmmin, cmmax

if __name__ == "__main__":
    ridename, cmmin, cmmax = read(input())
    print("이름:", ridename)
    print("하한:", cmmin)
    print("상한:", cmmax)

플라이벤처: 140cm~195cm
이름: 플라이벤처
하한: 140
상한: 195

In [23]:
# 회문 판별 함수
# 회문 = 거꾸로 배열해도 같은 단어나 문장이 되는 것

def palindrome(s):
  if s == s[::-1]:
    return True
  else:
    return False

palindrome('banana')

False

In [24]:
# 대소문자 구분 없이 판정하기

def palindrome(s):
  if s.lower() == s[::-1].lower():
    return True
  else:
    return False

palindrome('Anna')

True

In [26]:
# 공백 무시하고 판정하기

def palindrome(s):
  s = s.lower().replace(' ', '')
  rev = s[::-1].lower().replace(' ', '')
  if s == rev:
    return True
  else:
    return False

palindrome('My gym')

True

In [27]:
# 공백 무시하고 판정하기
# 좀 더 깔끔한 버전

def palindrome(s):
  s = s.lower().replace(' ', '')
  rev = s[::-1].lower().replace(' ', '')

  return s == rev

palindrome('My gym')

True

In [32]:
s = 'banana'
s.find('n')

2

In [33]:
chulsu = [90, 85, 70]
younghee = [88, 79, 92]
yong = [100, 100, 100]
minsu = [90, 60, 70]

In [34]:
students = [chulsu, younghee, yong, minsu]

In [35]:
for scores in students:
     total = 0
     for s in scores:
         total = total + s
     average = total / 3
     print(scores, total, average)

[90, 85, 70] 245 81.66666666666667
[88, 79, 92] 259 86.33333333333333
[100, 100, 100] 300 100.0
[90, 60, 70] 220 73.33333333333333

In [64]:
# 각 자리 숫자의 합을 구하는 함수

def sumOfDigits(num):
  int_list = list(map(lambda x: int(x), list(str(num))))
  return sum(int_list)

sumOfDigits(47253)

21

In [62]:
# 줄기와 잎 그림

score = [0, 0, 2, 4, 7, 7, 9, 11, 11, 13, 18, 20]
stem_leaf = [[], [], []]
new_score = []

for i in list(map(lambda x: str(x), score)):
  if len(i) == 1:
    new_score.append('0' + i)
  else:
    new_score.append(i)

for i in new_score:
  if i[0] == '0':
    stem_leaf[0].append(int(i[1]))
  elif i[0] == '1':
    stem_leaf[1].append(int(i[1]))
  else:
    stem_leaf[2].append(int(i[1]))

stem_leaf

[[0, 0, 2, 4, 7, 7, 9], [1, 1, 3, 8], [0]]

In [63]:
# 줄기와 잎 그림

score = [0, 0, 2, 4, 7, 7, 9, 11, 11, 13, 18, 20]
stem_leaf = [[], [], []]
new_score = []

for i in list(map(lambda x: str(x), score)):
  if len(i) == 1:
    new_score.append('0' + i)
  else:
    new_score.append(i)

for i in new_score:
  if i[0] == '0':
    stem_leaf[0].append(int(i[1]))
  elif i[0] == '1':
    stem_leaf[1].append(int(i[1]))
  else:
    stem_leaf[2].append(int(i[1]))

# 추가 문제
for idx, i in enumerate(stem_leaf):
  print(f'{idx}: {i}')

0: [0, 0, 2, 4, 7, 7, 9]
1: [1, 1, 3, 8]
2: [0]

In [92]:
# 소수 구하기

# 실행시간 비교 코드 추가
from time import process_time

def prime(n):
  num_list = list(range(2, n+1))
  for i in range(2, n+1):
    for j in num_list:
      if j != i and j % i == 0:
        num_list.remove(j)
  return num_list

start = process_time()
print(prime(10))
end = process_time()
print('elapsed:', end - start)

[2, 3, 5, 7]
elapsed: 0.0011226749999977415

In [93]:
def prime(n):
    L = list(range(2, n + 1))
    L2 = L[:]

    for p in L:
        for q in L:
            if (q in L2) and (q != p and q % p == 0):
                L2.remove(q)
    return L2


start = process_time()
print(prime(10))
end = process_time()
print('elapsed:', end - start)

[2, 3, 5, 7]
elapsed: 0.00022522399999758136

In [94]:
from math import sqrt

def prime(n):
    N = list(range(2, n + 1))

    i = 0
    while i <= sqrt(n) and len(N) > i:
        #print('\ncheck multiple of ', N[i])
        j = i
        while i <= j <= n and len(N) > j:
            #print(f'N[{j}]: {N[j]}', end='')
            if N[j] != N[i] and N[j] % N[i] == 0:
                del N[j]
                #print(' <= deleted')
                if len(N) == j:
                    break
            else:
                #print('')
                j += 1
        if len(N) == i:
            break
        else:
            i += 1
    return N

start = process_time()
print(prime(10))
end = process_time()
print('elapsed:', end - start)

[2, 3, 5, 7]
elapsed: 0.001814169000006416

In [106]:
# 진법 변환

def binary(n):
  div = [n, 0]
  result = []
  while div[0] > 0:
    div = divmod(div[0], 2)
    result.append(div[1])
  return result[::-1]

start = process_time()
binary(87)
end = process_time()
print('elapsed:', end - start)

elapsed: 0.00011203500000078748

In [107]:
# 더 빠른 버전

def binary(d):
  m = d
  b = []

  while True:
      d, m = divmod(d, 2)
      b.insert(0, m)
      if d == 0:
          break
  return b

start = process_time()
binary(87)
end = process_time()
print('elapsed:', end - start)

elapsed: 8.580400000113286e-05

In [129]:
# tomorrow

def tomorrow(date):
  yyyy, mm, dd = map(int, date.split(' '))
  print(f'{mm:02d}/{dd:02d}/{yyyy}')

  if mm == 12 and dd == 31:
    yyyy += 1
    mm, dd = 1, 1
  elif mm == 2 and dd == 28:
    mm, dd = mm+1, 1
  elif mm in [1,3,5,7,8,10] and dd == 31:
    mm, dd = mm+1, 1
  elif mm in [4,6,9,11] and dd == 30:
    mm, dd = mm+1, 1
  else:
    dd += 1

  print(f'{mm:02d}/{dd:02d}/{yyyy}')

tomorrow("2018 12 31")

12/31/2018
01/01/2019

In [133]:
# 숫자 읽기 (0~9)

def korean_number(n):
  kor = ['영','일','이','삼','사','오','육','칠','팔','구']
  num = list(range(10))
  dic = dict(zip(num, kor))

  return dic[n]

korean_number(9)

'구'

In [ ]:
# 한자성어

dic = {'江湖之樂(강호지락)' : '자연을 벗 삼아 누리는 즐거움'
        , '欲速不達(욕속부달)' : '빨리 하고자 하면 이루지 못함'
        , '積小成大(적소성대)' : '작은 것을 쌓아 큰 것을 이룸'
        , '勤儉節約(근검절약)' : '부지런하고 알뜰하게 재물을 아낌'
        , '經世濟民(경세제민)' : '세상을 다스리고 백성을 구제함'
        , '塞翁之馬(새옹지마)' : '인생의 길흉화복은 변화가 많아서 예측하기가 어려움'
        , '好事多魔(호사다마)' : '좋은 일에는 흔히 방해되는 일이 많음'
        , '桑田碧海(상전벽해)' : '세상일의 변천이 심함'
        , '自業自得(자업자득)' : '자기가 저지른 일의 결과를 자기가 받음'
        , '因果應報(인과응보)' : '원인과 결과가 상응하여 보답한다'
        , '愚公移山(우공이산)' : '어떤 일이든 끊임없이 노력하면 반드시 이루어짐'}
for i in range(len(dic)):
  input('Enter를 누르세요...')
  print(list(dic.keys())[i])
  print(list(dic.values())[i])
  print(' ')

In [154]:
# 정신 질환
from string import ascii_lowercase

def kor_eng(txt):
  apb = list(ascii_lowercase)

  d_list = txt.split('\n')
  name_kor, name_eng = [], []

  for d in d_list:
    s = d.split(' ')
    kor, eng = [], []
    for head in s:
      if head[0].lower() in apb:
        eng.append(head)
      else:
        kor.append(head)

    name_eng.append(' '.join(eng))
    name_kor.append(' '.join(kor))

  return dict(zip(name_kor, name_eng))

In [155]:
txt = '''신경발달장애 Neurodevelopmental Disorders
조현병 스펙트럼 및 기타 정신병적 장애 Schizophrenia Spectrum and Other Psychotic Disorders
양극성 및 관련 장애 Bipolar and Related Disorders
우울장애 Depressive Disorders
불안장애 Anxiety Disorder
강박 및 관련 장애 Obsessive－Compulsive and Related Disorders
외상 및 스트레스 관련 장애 Trauma－and Stressor－Related Disorders
해리장애 Dissociative Disorders
신체증상 및 관련 장애 Somatic Symptom and Related Disorders
급식 및 섭식장애 Feeding and Eating Disorders
배설장애 Elimination Disorders
수면－각성 장애 Sleep－Wake Disorders
성기능부전 Sexual Dysfunctions
성별 불쾌감 Gender Dysphoria
파괴적, 충동조절 및 품행 장애 Disruptive, Impulse－Control, and Conduct Disorders
물질관련 및 중독 장애 Substance－Related and Addictive Disorders
신경인지장애 Neurocognitive Disorders
성격장애 Personality Disorders
변태성욕장애 Paraphilic Disorders
기타 정신질환 Other Mental Disorders'''

kor_eng(txt)

{'신경발달장애': 'Neurodevelopmental Disorders',
 '조현병 스펙트럼 및 기타 정신병적 장애': 'Schizophrenia Spectrum and Other Psychotic Disorders',
 '양극성 및 관련 장애': 'Bipolar and Related Disorders',
 '우울장애': 'Depressive Disorders',
 '불안장애': 'Anxiety Disorder',
 '강박 및 관련 장애': 'Obsessive－Compulsive and Related Disorders',
 '외상 및 스트레스 관련 장애': 'Trauma－and Stressor－Related Disorders',
 '해리장애': 'Dissociative Disorders',
 '신체증상 및 관련 장애': 'Somatic Symptom and Related Disorders',
 '급식 및 섭식장애': 'Feeding and Eating Disorders',
 '배설장애': 'Elimination Disorders',
 '수면－각성 장애': 'Sleep－Wake Disorders',
 '성기능부전': 'Sexual Dysfunctions',
 '성별 불쾌감': 'Gender Dysphoria',
 '파괴적, 충동조절 및 품행 장애': 'Disruptive, Impulse－Control, and Conduct Disorders',
 '물질관련 및 중독 장애': 'Substance－Related and Addictive Disorders',
 '신경인지장애': 'Neurocognitive Disorders',
 '성격장애': 'Personality Disorders',
 '변태성욕장애': 'Paraphilic Disorders',
 '기타 정신질환': 'Other Mental Disorders'}

In [156]:
# 정답 코드

disorders = dict()

# 아스키코드로 영어, 한글 구분
is_eng = lambda x: 65 <= ord(x) <= 90 or 97 <= ord(x) <= 122

for l in txt.splitlines():
    i = 0
    while not is_eng(l[i]):
        i += 1
    else:
        ko, en = l[:i - 1], l[i:] # 영어 시작 위치 찾아서 슬라이싱
        disorders[ko] = en

print(disorders)

{'신경발달장애': 'Neurodevelopmental Disorders', '조현병 스펙트럼 및 기타 정신병적 장애': 'Schizophrenia Spectrum and Other Psychotic Disorders', '양극성 및 관련 장애': 'Bipolar and Related Disorders', '우울장애': 'Depressive Disorders', '불안장애': 'Anxiety Disorder', '강박 및 관련 장애': 'Obsessive－Compulsive and Related Disorders', '외상 및 스트레스 관련 장애': 'Trauma－and Stressor－Related Disorders', '해리장애': 'Dissociative Disorders', '신체증상 및 관련 장애': 'Somatic Symptom and Related Disorders', '급식 및 섭식장애': 'Feeding and Eating Disorders', '배설장애': 'Elimination Disorders', '수면－각성 장애': 'Sleep－Wake Disorders', '성기능부전': 'Sexual Dysfunctions', '성별 불쾌감': 'Gender Dysphoria', '파괴적, 충동조절 및 품행 장애': 'Disruptive, Impulse－Control, and Conduct Disorders', '물질관련 및 중독 장애': 'Substance－Related and Addictive Disorders', '신경인지장애': 'Neurocognitive Disorders', '성격장애': 'Personality Disorders', '변태성욕장애': 'Paraphilic Disorders', '기타 정신질환': 'Other Mental Disorders'}

In [25]:
# 프랙털

l = '0000000000000000000000000000001000000000000000000000000000000'
print(l)

rule = {'111':'0', '110':'1'
    , '101':'0', '100':'1'
    , '011':'1', '010':'0'
    , '001':'1', '000':'0'}

next = l
while next[1] != '1':
  next = ['0']
  for i in range(len(l)-2):
    next.append(rule[l[i:i+3]])
  next.append('0')

  l = next

  print(''.join(next))

0000000000000000000000000000001000000000000000000000000000000
0000000000000000000000000000010100000000000000000000000000000

TypeError: ignored

In [13]:
a = 'a' + 'b'
a

'ab'