In [2]:
pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.6.tar.gz (383 kB)
     |████████████████████████████████| 383 kB 1.2 MB/s eta 0:00:01
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.6-cp39-cp39-macosx_10_9_universal2.whl size=245282 sha256=f08a199869b9ecb8c2a1f81e16087d42849abf97d648234929a018ea55508e50
  Stored in directory: /Users/yuhyeseung/Library/Caches/pip/wheels/e0/1d/09/2bc95af38e38d614767de0126fbf27a55a5c277f612aa6a51f
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import psycopg2
import pandas.io.sql as psql
import pandas as pd

In [9]:
con = psycopg2.connect(host='localhost', dbname='postgres',
                    user='postgres', password='####', port=5432,
                      )
cur = con.cursor()

In [20]:
sql = "SELECT * FROM webmarket.mst_users"
df_users = psql.read_sql(sql, con)
df_users

/var/folders/l5/366nz8fs75gdr134874nc3nc0000gn/T/ipykernel_6702/3214877240.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_users = psql.read_sql(sql, con)

  user_id register_date  register_device
0    U001    2016-08-26                1
1    U002    2016-08-26                2
2    U003    2016-08-27                3

In [18]:
#리스트에 없는 값 혹은 모르는 값 제외
idx = df_users[(df_users['register_device'] != 1) &
              (df_users['register_device'] != 2) &
              (df_users['register_device'] != 3)].index
df_users.drop(idx, inplace=True)

In [19]:
# 첫번째 방법

df_users.loc[df_users['register_device'] == 1, 'register_device'] = '데스크톱'
df_users.loc[df_users['register_device'] == 2, 'register_device'] = '스마트폰'
df_users.loc[df_users['register_device'] == 3, 'register_device'] = '애플리케이션'
df_users

  user_id register_date register_device
0    U001    2016-08-26            데스크톱
1    U002    2016-08-26            스마트폰
2    U003    2016-08-27          애플리케이션

In [ ]:
# 다시 한번 불러오기

sql = "SELECT * FROM webmarket.mst_users"
df_users = psql.read_sql(sql, con)
df_users

/var/folders/l5/366nz8fs75gdr134874nc3nc0000gn/T/ipykernel_6702/3214877240.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_users = psql.read_sql(sql, con)

  user_id register_date  register_device
0    U001    2016-08-26                1
1    U002    2016-08-26                2
2    U003    2016-08-27                3

In [21]:
# 두번째 방법

device_dic = {1:'데스크톱', 2:'스마트폰', 3:'애플리케이션'}
df_users[['register_device']] = df_users[['register_device']].applymap(device_dic.get)
df_users

  user_id register_date register_device
0    U001    2016-08-26            데스크톱
1    U002    2016-08-26            스마트폰
2    U003    2016-08-27          애플리케이션